.*
name: hexlet-check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  hexlet-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install hexlet-check
      run: npm install -g @hexlet/hexlet-check

    - name: Run hexlet-check
      run: hexlet-check
      env:
        HEXLET_PROJECT: qa-project-75
